p {
    color: #555;
}

header > nav ul li a:hover {
    text-decoration: none;
}

header > nav ul li a:link {
    color : #880808;
}

article > p:first-of-type {
    text-decoration: underline;
}

.am {
    text-decoration: underline;
}

span {
    font-style: italic;
}

footer ul li:first-child{
    list-style-type: none;
}

footer ul li:last-child{
    font-weight: bold;
}

header nav ul li{
    display: inline;
}
